/* Site wide settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #ccedd2;
    height: 100%;
    color: #655c56;
    text-align: center;
}

body {
    height: 100%;
    display: grid;
    grid: 
        'header header header header header header' 24vh
        'main main main main main main' 1fr
        'footer footer footer footer footer footer' 30vh
        / 1fr 1fr 1fr 1fr 1fr 1fr;
        ;
        font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, i, button, a {
    font-family: 'Quicksand', sans-serif;
    color: #655c56;
}

a, button{
    text-decoration: none;
    font-weight: bold;
    border: none;
}

label {
    margin-top: 1vh;;
}

.add {
    color: green;
    border: green;
}

.edit {
    color: orangered;
    border: orangered;
}

.delete {
    color: crimson;
    border: crimson;
}

.flash-message-success {
    background: #a8df65;
    padding: 20px 0;
    border-radius: 2.5px;
    width: 95%;
    margin-top: 10px;
    font-size: 1.2;
}

.form-errors {
    margin-top: 2.5px;
    background: rgb(221, 51, 51, 0.75);
    color: #ffffff;
    width: 100%;
    padding: 10px 0;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* Header */

header {
    grid-area: header;
    display: grid;
    grid: 10vh 7vh 7vh / 100vw;
    place-items: center center;
    position: fixed;
    z-index: 2;
    background: #ccedd2;
}

.navigation-container {
    place-self: start end;
    padding: 2.5px 2.5px 0 0;
    display: grid;
    width: 100%;
    grid: 10vh / 3fr 4fr 3fr;
    place-items: center center;
}

.post-free-item-button, .post-free-item-button-address-lookup, .post-free-item-button-address-lookup-change, #getaddress_button {
    background: #a0c334;
    width: 70%;
    border: none;
    font-size: 1.3rem;
    border-radius: 2.5px;
    margin-top: 25px;
    padding: 10px 0;
}

.post-free-item-main-button {
    background: #a0c334;
    color: #655c56;
    border: none;
    font-size: 1.3rem;
    border-radius: 2.5px;
    width: 80%;
    height: 90%;
}

.nav-logo {
    display: grid;
    place-items: center center;
}

/* Burger Menu overlay and links */

.burger-menu-overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background: #a0c334;
    transition: 0.75s;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    place-items: center center;
    padding-bottom: 50vh;
    font-size: 1.5rem;
}

.burger-menu-overlay i {
    place-self: start end;
    margin: 10px 10px 0 0;
}

.find-items-container {
    display: grid;
    width: 95%;
    height: 100%;
    grid: 7vh / 1fr 3fr;
    place-items: center center;
}

.find-items-categories {
    display: grid;
    place-items: center center;
    background: #655c56;
    width: 95%;
    height: 85%;
    border-radius: 2.5px;
}

.find-items-categories {
    color: #ccedd2;
}

.find-items-search {
    display: grid;
    width: 95%;
    height: 85%;
    grid: 1fr / 3fr 1fr;
    border-radius: 2.5px;
    place-items: center center;
    background: #ffffff;
}

.find-items-search input {
    border: none;
    background: #ffffff;
    height: 85%;
    width: 100%;
    text-align: center;
}

.find-items-search-bar-button {
    border: none;
    background: #ffffff;
}

main {
    grid-area: main;
    display: grid;
    place-items: start center;
}

.user-review {
    margin-top: 10px;
    border: 0.5px solid #655c56;
    background: #ffffff;
    width: 95%;
    display: grid;
    place-items: center center;
    border-radius: 5px;
    font-size: 1.2em;
}

.user-review h3 {
    place-self: start start;
    margin: 5px 0 5px 5px;
}

.user-review p {
    width: 85%;
    letter-spacing: 1px;
}

/* Welcome modal for first time load */

#welcome-modal-container {
    display: none;
    position: fixed;
    z-index: 2;
    background: #ccedd2;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center center;
    padding: 0 10px;
}

.welcome-modal-container {
    display: grid;
    place-items: center center;
}

/* Free Item container snippet */

.free-item-container, .free-item-info-upload, .free-item-details {
    display: grid;
    place-items: center center;
    width: 100%;
}

.free-item-container {
    grid: 26vh / 1fr 1fr;
    background: #ffffff;
    box-shadow: 2.5px 1.5px 2.5px 0.5px #3f3e3e;
    margin-top: 7.5px;
    padding-left: 1vw;
}

.free-item-container img {
    max-width: 100%;
    max-height: 25vh;
    border-radius: 1.5px;
}

.free-item-info-upload {
    grid: 1fr / 1fr 1fr;
}

.free-item-details {
    height: 100%;
    grid: auto auto auto auto / 1fr;
}

.login-signup a {
    background: #fcbf1e;
    font-weight: bold;
    padding: 2.5px;
    border-radius: 2.5px;
}

/* User message snippets Page */

.user-message-snippet-container, .user-message-snippet-content-container, .user-message-snippet-image-container {
    width: 100%;
    display: grid;
    place-items: center center;
}

.user-message-snippet-container {
    padding-right: 1vw;
    grid: 20vh / 7fr 3fr;
    color: #655c56;
    background: #ffffff;
    border-bottom: 2.5px solid #a0c334;
}

.user-message-snippet-content-container {
    height: 100%;
}

.user-message-snippet-container img {
    max-width: 100%;
    max-height: 19.9vh;
    border-radius: 1.5px;
}

/* User conversation Page */

.user-conversation-container {
    display: grid;
    grid: 5vh minmax(10vh, auto) minmax(75vh, auto) 10vh / 100vw;
    place-items: center center;
}

.user-messages-header-container {
    width: 99%;
    display: grid;
    grid: 1fr / 3fr 1fr;
    place-items: center center;
    padding: 2.5px 0;
    background: #f8f6f6;
    border-radius: 1.25px;
    box-shadow: 1px 2px 3px #888888;
}

.user-messages-header-container img {
    border-radius: 1.25px;
    max-width: 100%;
    max-height: 9.5vh;
}

.messages-container {
    height: 100%;
    width: 95%;
}

.user-message-container, .not-user-message-container {
    width: 60%;
    display: grid;
}

.user-message-container p {
    border-radius: 1.25px;
    background: #655c56;
    color: #effcef;
    padding: 5px;
}

.user-message-container {
    text-align: left;
}

.not-user-message-container {
    margin-left: 40%;
    text-align: right;
}

/* All Categories Page */

.all-categories-container {
    display: grid;
    grid: 1fr 9fr / 1fr;
    place-items: center center;
    width: 100%;
}

.all-categories-nav {
    display: grid;
    place-items: start start;
    width: 95%;
    height: 100%;
}

.all-categories-list {
    display: grid;
    place-items: center center;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    grid-row-gap: 15px;
    grid-column-gap: 7.5px;
}

.all-categories-list a {
    width: 100%;
    padding: 10px 0;
    border-radius: 2.5px;
    background: #655c56;
    color: #effcef;
}

/* Single Free Item display page */

.free-item-single-container {
    display: grid;
    grid: auto auto auto auto auto auto auto / 1fr;
    place-items: center center;
    padding: 10px 0;
    width: 100%;
}

.free-item-single-title, .free-item-single-description {
    margin-bottom: 20px;
    padding: 10px 0;
    width: 95%;
    letter-spacing: 1.5px;
    background: #f8f6f6;
    border-radius: 5px;
    box-shadow: 2.5px 5px 9px #888888;
}

.free-item-single-description {
    font-size: 1.25rem;
    padding: 30px 0;
    margin: 10px 0;
}

.sharethis-inline-share-buttons {
    margin: 10px 0;
}

.free-item-single-location {
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center center;
    font-size: 1.5rem;
    margin: 10px 0;
}

.free-item-single-user {
    margin: 10px 0;
}

.send-free-item-message {
    width: 95%;
    display: grid;
    grid: 10vh / 8fr 2fr;
    place-items: center center;
}

.send-free-item-message input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.25rem;
}

.send-free-item-message-button {
    width: 100%;
    height: 100%;
    background:  #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.send-free-item-message-button i {
    color: #a8df65;
}

/* Single Free Item Slideshow container */

.slideshow-container {
    border-radius: 5px;
    width: 100%;
}

.free-item-single-image {
    border-radius: 2.5px;
    width: 99.5%;
    place-self: center center;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    place-items: center center;
  }

.image-control-container {
    display: grid;
    grid: 1fr / 1fr 1fr;
    position: absolute;
    width: 100%;
}

.image-control-next, .image-control-prev, .close {
    border-radius: 50%;
    padding: 5px;
    background: #655c5675;
    color: #ccedd2;
}

.image-control-next {
    place-self: center end;
    margin-right: 2.5vw;
    padding-left: 2.5vw;
}

.image-control-prev {
    place-self: center start;
    margin-left: 2.5vw;
    padding-right: 2.5vw;
}
/* Slide Show Modal for larger image */
  
  .modal {
    display: none;
    place-items: center center;
    position: fixed;
    z-index: 3;
    overflow-y: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
  }

  .myEnlargedSlides {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center center;
  }
  
  .myEnlargedSlides img {
    max-height: 100%;
    max-width: 99.5%;
  }

  .close {
      position: absolute;
      top: 10%;
  }

/* Post New Free Item */

.post-free-item-container {
    display: grid;
    place-items: center center;
    width: 99%;
    border-radius: 2.5px;
    padding-bottom: 2vh;
}

.post-free-item-field {
    margin-bottom: 10px;;
}

.post-free-item-field, .post-free-item-field-sign-up, .post-free-item-field-sign-up-button, #getaddress_input, #getaddress_dropdown {
    width: 95%;
    font-size: 1.1rem;
    border: none;
    border-radius: 2.5px;
    text-align: center;
    margin-top: 1vh;
    padding: 15px 0;
}

.post-free-item-field-sign-up {
    margin-top: 0;
    padding: 10px 0;
    font-size: 1.3rem;
}

.post-free-item-pic-upload-container {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    grid-row-gap: 10px;
    margin: 10px 0;
}

.post-free-item-pic-upload {
    width: 95%;
}

.edit-delete-controls {
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center center;
    font-size: 1.5rem                   ;
}

/* Edit New Free Item */

.edit-free-item-picture-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    place-items: center center;
}

.edit-free-item-picture-mini-container {
    display: grid;
    grid: 1fr 20vh / 20vw;
    place-items: center center;
    border: 1px solid #655c56;
    padding: 5px;
    margin-top: 3px;
}

.edit-free-item-picture {
    max-width: 20vw;
    max-height: 20vh;
}

.edit-free-item-picture-new-container {
    width: 20vw;
    max-height: 20vh;
    border: 1px solid #655c56;
    padding: 5px;
    margin-top: 3px;
}

.edit-free-item-picture-container input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

#loader-background {
    display: none;
    place-items: center center;
    background: rgb(204, 237, 210);
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
}

#loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #a0c334;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Profile section */

.profile-container {
    width: 100%;
    display: grid;
}

.profile-contact-container {
    width: 100%;
    min-height: 40vh;
    padding: 10px;
}

.profile-contact-details-container {
    width: 100%;
    display: grid;
}

.profile-contact-detail {
    display: grid;
    grid: 1fr / 2fr 8fr;
    place-items: center start;
}

.profile-contact-detail-address {
    display: grid;
    place-items: center start;
}

.address-lookup {
    margin-top: 10px;
    padding-top: 10px;
    border-top: #655c56 2.5px solid;
    width: 100%;
    display: grid;
    grid: 1fr / 7fr 3fr;
    place-items: center center;
}

#postcode_lookup {
    grid-column: 1/3;
    grid: 1fr / 7fr 3fr;
    place-items: center center;
    width: 100%;
    display: none;
}

.post-free-item-button-address-lookup-change {
    grid-column: 1/3;
    width: 50%;
    padding: 2.5px;
    margin: 0;
    color: #ccedd2;
    background: #655c56;
}

#getaddress_input {
    width: 95%;
    margin: 0;
    font-size: 1rem;
}

#getaddress_button {
    width: 95%;
    margin: 0;
    font-size: 1rem;
}

.profile-free-items-container {
    width: 100%;
    min-height: 40vh;
    padding: 10px;
}

.profile-free-item-stats-container {
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center center;
}

.profile-free-item-stat {
    display: grid;
    grid: 1fr 1fr / 1fr;
    place-items: center center;
}

.rating-container {
    display: grid;
    place-items: center center;
}

.rating {
    
    width: 75%;
    color: #655c56;
    background: #ffffff;
    border: 5px solid #a0c334;
    border-radius: 15px;
    padding: 10px 0;
    margin: 10px 0;
}

.profile-title {
    width: 100%;
    display: grid;
    grid: 1fr / 2fr 8fr;
    place-items: center center;
    padding-bottom: 5px;
}

.profile-messages {
    background: #ffffff;
    width: 100%;
    display: grid;
    grid: 1fr / 4fr 6fr;
    place-items: center center;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 2px solid #655c56;
    border-bottom: 2px solid #655c56;
}

/* Su Admin section */

.su-admin-main-page-container {
    place-self: center center;
    height: 100%;
    width: 100%;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    place-items: center center;
}

.su-admin-main-page-option {
    background: #a0c334;
    border: 2px solid #655c56;
    border-radius: 7.5px;
    width: 85%;
    height: 85%;
    display: grid;
    grid: 5fr 2.5fr 2.5fr / 1fr;
    place-items: center center;
    font-size: 1.2rem;
}

.su-admin-main-page-option-section {
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center center;
}

/* Categories Page */

.category-option-container {
    place-self: start center;
    display: grid;
    width: 100%;
    place-items: center center;
}

.category-edit-delete-container {
    width: 100%;
    height: 10vh;;
    display: grid;
    grid: 1fr / 7fr 3fr;
    place-items: center center;
    margin-top: 2.5px;
    border-bottom: solid 2px #655c56;
}

.category-edit-delete-container h3 {
    font-size: 1.1rem;
}

.category-edit-delete-container-icons {
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 1fr;
}

.user-stats {
    width: 95%;
    background: #a0c334;
    border: 1px solid #655c56;
    border-radius: 15px;
    padding: 10px 0;
    font-size: 1.5rem;
}

/* Reuse Tips Page */
.reuse-tips-container {
    background: #ffffff;
    width: 99%;
    border-radius: 2.5px;
    padding: 2.5px;
}

.reuse-tips-title {
    margin: 5px 0;
}

.reuse-tips-container p {
    margin: 10px 0;
}

.reuse-tips-page-title-container {
    display: grid;
    grid: 1fr / 1fr 3fr;
    place-items: center center;
    margin: 10px 0;
}
.reuse-tips-page-title-container img {
    width: 50%;
}

footer, .footer-images-container, .footer-links-container {
    width: 100%;
    display: grid;
    place-items: center center;
}

footer { 
    grid-area: footer;   
    grid: 1fr 1fr / 1fr;
}

.footer-images-container {
    grid: 1fr / 1fr 1fr;
}

.footer-links-container {
    grid: 1fr / 1fr 1fr 1fr;
}