{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 4; place-self: center center;">

        <div class="all-categories-container">
            
            <div class="all-categories-nav">

                <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Go Back</a>

            </div>

            {% if app.session.get('location') %}

                <h2>Categories for {{app.session.get('location')}}</h2>

            {% else %}
                
                <h2>32 Collect Categories</h2>

            {% endif %}

            <div class="all-categories-list">

                {{
                    render(controller("App\\Controller\\FrontController::categories"))
                }}

            </div>

        </div>
    
    </main>

{% endblock %}

{% block footer %}
{% endblock %}