{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block main %}

    <main>

        <div class="all-categories-container">
            
            <div class="all-categories-nav">

                <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Go Back</a>

            </div>

            <div class="all-categories-list">

                {{
                    render(controller("App\\Controller\\FrontController::categories"))
                }}

            </div>

        </div>
    
    </main>

{% endblock %}

{% block footer %}
{% endblock %}