{% extends 'base.html.twig' %}



{% block main %}

    <main>
            
            <div class="all-categories-nav">

                <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Back to All Categories</a>

            </div>

            <h2>All of {{user.name}}'s freebies</h2>
    
        {% include 'front/includes/_free-item-snippets.html.twig' %}
    
    </main>

{% endblock %}

