{% extends 'base.html.twig' %}



{% block main %}

    <main>
            
            <div class="all-categories-nav">

                <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Back to All Categories</a>

            </div>

            <h2>{{category.name}} {% if app.session.get('location') %}in {{app.session.get('location')}} {% endif %}({{freeItems|length}})</h2>
    
        {% include 'front/includes/_free-item-snippets.html.twig' %}
    
    </main>

{% endblock %}

