{% extends 'base.html.twig' %}

{% block main %}

    <main>
    
        {{
            render(controller("App\\Controller\\FrontController::allFreeItems"))
        }}
    
    </main>

{% endblock %}