{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 4; place-self: start center; margin: 2vh 0 3vh 0;">

        <div class="all-categories-nav">

            <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Back to Main Page</a>

        </div>

        <div class="reuse-tips-page-title-container">
            <a class="nav-logo" href="{{path('main_page')}}"><img src="assets/images/site-images/32collect-logo.png" alt=""></a>
            <h1>Reuse Tips</h1>
        </div>

        <div class="reuse-tips-container">

            <h2 class="reuse-tips-title">Old Favorite Shirts falling apart?</h2>
            <h3 class="reuse-tips-sub-title">Stephanie's Stitches</h3>
            <p>I am a sucker for Predator and Terminator Merchandise. I am also a sucker making things last, so when I got my new Predator shirt I wear it so much that itdeveloped holes.
            Just before I accepted defeat and resigned myself to putting it in a charity bag, I discovered "Stephanie's Stitches". </p>
            <p>I sent her my old shirt and to my amazement she sent me back a drawstring bag
            complete with inside pocket, all made from my old shirt with the addition of course of a new string. I have had so many compliments since from fellow Predator Fans</p>
            <p>Of course this is not free. Including posting it to "Stephanie's Stitches" I paid a total of £30.</p>
            <p>I have been using my draw string bag for over a year and it is still going strong.</p>
            <p>So many options to choose from, I could have a had a seat cover, pillow case, sock hat, small table cover. The list goes on.</p>
            <h4>If you can bring yourself to part with £30 (very difficult for me) to save your old favorite shirt. I cannot recommend doing this enough</h4>

        </div>
    
    </main>

{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}

{% endblock %}