<img src="{{ email.image('@images/32collect-logo.png') }}" alt="Logo" width="10%">
<h2>Great News {{name}},</h2>
<h3>Your {{freeItemTitle}} ad has some interest.</h3>
<br>
<p>Sign in to your account to see your new message</p>
<p>Please note for security, no other information is displayed within this email.</p>
<br>
<p>Stay safe online.</p>
<p>Please do not reply to this email</p>