<img src="{{ email.image('@images/32collect-logo.png') }}" alt="Logo" width="7.5%">
<h2>Hi {{name}},</h2>
<h3>Thank you for posting {{freeItemTitle}}</h3>
<br>
<p>Your ad is now live. Any collectors will be in contact</p>
<p>One person's rubbish is another person's treasure</p>
<p>Together we can avoid landfills and reuse as much as possible</p>
<p>You have posted a total of {{totalFreeAds}} free Ads. Good job.</p>