<img src="{{ email.image('@images/32collect-logo.png') }}" alt="Logo" width="10%">
<h2>Hi {{name}},</h2>
<h3>Thank you for signing up to 32collect</h3>
<br>
<h2>You start as a reuse apprentice. After posting enough free items you can become a reuse master!</h2>
<p>Together we can avoid landfills and reuse as much as possible</p>